
pre {font-size: 12pt; line-height: 13pt; color:cccccc; background-color:000000;}
td {font-size: 12pt; line-height: 13pt;}
td.c03744 {color:cccccc; background-color:0000aa;}
td.c13447 {color:0000ff; background-color:cccccc; text-align:center;}
font.c03040 {color:000000; background-color:000000;}
font.c03041 {color:000000; background-color:aa0040;}
font.c03042 {color:000000; background-color:40aa20;}
font.c03043 {color:000000; background-color:bb9c10;}
font.c03044 {color:000000; background-color:0000aa;}
font.c03045 {color:000000; background-color:c02080;}
font.c03046 {color:000000; background-color:40a0b0;}
font.c03047 {color:000000; background-color:cccccc;}
font.c03140 {color:aa0040; background-color:000000;}
font.c03141 {color:aa0040; background-color:aa0040;}
font.c03142 {color:aa0040; background-color:40aa20;}
font.c03143 {color:aa0040; background-color:bb9c10;}
font.c03144 {color:aa0040; background-color:0000aa;}
font.c03145 {color:aa0040; background-color:c02080;}
font.c03146 {color:aa0040; background-color:40a0b0;}
font.c03147 {color:aa0040; background-color:cccccc;}
font.c03240 {color:40aa20; background-color:000000;}
font.c03241 {color:40aa20; background-color:aa0040;}
font.c03242 {color:40aa20; background-color:40aa20;}
font.c03243 {color:40aa20; background-color:bb9c10;}
font.c03244 {color:40aa20; background-color:0000aa;}
font.c03245 {color:40aa20; background-color:c02080;}
font.c03246 {color:40aa20; background-color:40a0b0;}
font.c03247 {color:40aa20; background-color:cccccc;}
font.c03340 {color:bb9c10; background-color:000000;}
font.c03341 {color:bb9c10; background-color:aa0040;}
font.c03342 {color:bb9c10; background-color:40aa20;}
font.c03343 {color:bb9c10; background-color:bb9c10;}
font.c03344 {color:bb9c10; background-color:0000aa;}
font.c03345 {color:bb9c10; background-color:c02080;}
font.c03346 {color:bb9c10; background-color:40a0b0;}
font.c03347 {color:bb9c10; background-color:cccccc;}
font.c03440 {color:0000aa; background-color:000000;}
font.c03441 {color:0000aa; background-color:aa0040;}
font.c03442 {color:0000aa; background-color:40aa20;}
font.c03443 {color:0000aa; background-color:bb9c10;}
font.c03444 {color:0000aa; background-color:0000aa;}
font.c03445 {color:0000aa; background-color:c02080;}
font.c03446 {color:0000aa; background-color:40a0b0;}
font.c03447 {color:0000aa; background-color:cccccc;}
font.c03540 {color:c02080; background-color:000000;}
font.c03541 {color:c02080; background-color:aa0040;}
font.c03542 {color:c02080; background-color:40aa20;}
font.c03543 {color:c02080; background-color:bb9c10;}
font.c03544 {color:c02080; background-color:0000aa;}
font.c03545 {color:c02080; background-color:c02080;}
font.c03546 {color:c02080; background-color:40a0b0;}
font.c03547 {color:c02080; background-color:cccccc;}
font.c03640 {color:40a0b0; background-color:000000;}
font.c03641 {color:40a0b0; background-color:aa0040;}
font.c03642 {color:40a0b0; background-color:40aa20;}
font.c03643 {color:40a0b0; background-color:bb9c10;}
font.c03644 {color:40a0b0; background-color:0000aa;}
font.c03645 {color:40a0b0; background-color:c02080;}
font.c03646 {color:40a0b0; background-color:40a0b0;}
font.c03647 {color:40a0b0; background-color:cccccc;}
font.c03740 {color:cccccc; background-color:000000;}
font.c03741 {color:cccccc; background-color:aa0040;}
font.c03742 {color:cccccc; background-color:40aa20;}
font.c03743 {color:cccccc; background-color:bb9c10;}
font.c03744 {color:cccccc; background-color:0000aa;}
font.c03745 {color:cccccc; background-color:c02080;}
font.c03746 {color:cccccc; background-color:40a0b0;}
font.c03747 {color:cccccc; background-color:cccccc;}
font.c13040 {color:787878; background-color:000000;}
font.c13041 {color:787878; background-color:aa0040;}
font.c13042 {color:787878; background-color:40aa20;}
font.c13043 {color:787878; background-color:bb9c10;}
font.c13044 {color:787878; background-color:0000aa;}
font.c13045 {color:787878; background-color:c02080;}
font.c13046 {color:787878; background-color:40a0b0;}
font.c13047 {color:787878; background-color:cccccc;}
font.c13140 {color:ff0000; background-color:000000;}
font.c13141 {color:ff0000; background-color:aa0040;}
font.c13142 {color:ff0000; background-color:40aa20;}
font.c13143 {color:ff0000; background-color:bb9c10;}
font.c13144 {color:ff0000; background-color:0000aa;}
font.c13145 {color:ff0000; background-color:c02080;}
font.c13146 {color:ff0000; background-color:40a0b0;}
font.c13147 {color:ff0000; background-color:cccccc;}
font.c13240 {color:00ff00; background-color:000000;}
font.c13241 {color:00ff00; background-color:aa0040;}
font.c13242 {color:00ff00; background-color:40aa20;}
font.c13243 {color:00ff00; background-color:bb9c10;}
font.c13244 {color:00ff00; background-color:0000aa;}
font.c13245 {color:00ff00; background-color:c02080;}
font.c13246 {color:00ff00; background-color:40a0b0;}
font.c13247 {color:00ff00; background-color:cccccc;}
font.c13340 {color:ffff00; background-color:000000;}
font.c13341 {color:ffff00; background-color:aa0040;}
font.c13342 {color:ffff00; background-color:40aa20;}
font.c13343 {color:ffff00; background-color:bb9c10;}
font.c13344 {color:ffff00; background-color:0000aa;}
font.c13345 {color:ffff00; background-color:c02080;}
font.c13346 {color:ffff00; background-color:40a0b0;}
font.c13347 {color:ffff00; background-color:cccccc;}
font.c13440 {color:0000ff; background-color:000000;}
font.c13441 {color:0000ff; background-color:aa0040;}
font.c13442 {color:0000ff; background-color:40aa20;}
font.c13443 {color:0000ff; background-color:bb9c10;}
font.c13444 {color:0000ff; background-color:0000aa;}
font.c13445 {color:0000ff; background-color:c02080;}
font.c13446 {color:0000ff; background-color:40a0b0;}
font.c13447 {color:0000ff; background-color:cccccc;}
font.c13540 {color:ff00ff; background-color:000000;}
font.c13541 {color:ff00ff; background-color:aa0040;}
font.c13542 {color:ff00ff; background-color:40aa20;}
font.c13543 {color:ff00ff; background-color:bb9c10;}
font.c13544 {color:ff00ff; background-color:0000aa;}
font.c13545 {color:ff00ff; background-color:c02080;}
font.c13546 {color:ff00ff; background-color:40a0b0;}
font.c13547 {color:ff00ff; background-color:cccccc;}
font.c13640 {color:40ffff; background-color:000000;}
font.c13641 {color:40ffff; background-color:aa0040;}
font.c13642 {color:40ffff; background-color:40aa20;}
font.c13643 {color:40ffff; background-color:bb9c10;}
font.c13644 {color:40ffff; background-color:0000aa;}
font.c13645 {color:40ffff; background-color:c02080;}
font.c13646 {color:40ffff; background-color:40a0b0;}
font.c13647 {color:40ffff; background-color:cccccc;}
font.c13740 {color:ffffff; background-color:000000;}
font.c13741 {color:ffffff; background-color:aa0040;}
font.c13742 {color:ffffff; background-color:40aa20;}
font.c13743 {color:ffffff; background-color:bb9c10;}
font.c13744 {color:ffffff; background-color:0000aa;}
font.c13745 {color:ffffff; background-color:c02080;}
font.c13746 {color:ffffff; background-color:40a0b0;}
font.c13747 {color:ffffff; background-color:cccccc;}
